<section class="page-header mt-2">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0">
            <h1 class="title underline-none" data-aos="fade-up">{{ .Title }}</h1>
            <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
              <ol class="breadcrumb justify-content-center bg-transparent p-0 mb-0">
                <li class="breadcrumb-item"><a class="link-primary" href="{{ site.BaseURL | relLangURL }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="has-circle"></div>
      </div>
    </div>
  </div>
</section>