{{define "main"}}

{{ partial "page-header.html" . }}

{{with .Params.who_we_are}}
{{if .enable}}
<section class="section-sm pb-0 tentang-top">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6" data-aos="fade-up">
        <div class="about-image">
          <div class="block">
            {{ if fileExists (add `assets/` .image) }}
            {{$img:= resources.Get .image }}
            {{$img:= $img.Resize "464x"}}
            {{$imgWebp:= $img.Resize "464x webp"}}
            <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Video Thumbnail" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
            {{end}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
        <div class="section-title mb-0">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <!-- <h2 class="title  text-center">{{.title | markdownify}}</h2> -->
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.our_mission}}
{{if .enable}}
<section class="section-sm tentang-bottom pt-0">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
        <div class="section-title">
          <!-- <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title  text-center">{{.title | markdownify}}</h2> -->
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-6" data-aos="fade-up">
        <div class="about-image">
          <div class="block">
            {{ if fileExists (add `assets/` .image) }}
            {{$img:= resources.Get .image }}
            {{$img:= $img.Resize "464x"}}
            <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="Video Thumbnail" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.what_we_do}}
{{if .enable}}
<section data-aos="fade-up" class="pb-5">
  <div class="container">
    <div class="row justify-content-center">

      {{range .block}}
      <div class="col-xl-5 col-lg-6">
        <div class="px-0 px-md-5 mt-4">
          <h3 class="text-capitalize">{{.title | markdownify}}</h3>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}


{{with .Params.legalitas}}
{{if .enable}}
<section data-aos="fade-up" class="section-sm legalitas" id="legalitas">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title">{{.title | markdownify}}</h2>
        </div>
      </div>

      {{range .block}}
      <div class="col-xl-5 col-lg-6">
        <div class="text-center px-0 px-md-5 mt-4">
          <h3 class="text-capitalize text-primary"><i class="las la-link"></i> <a href="/{{.image}}" class="item text-primary">{{.title | markdownify}} </a></h3>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.tim}}
{{if .enable}}
<section data-aos="fade-up" class="section-sm tim">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title">{{.title | markdownify}}</h2>
        </div>
      </div>
      {{range .anggota}}
      <div class="col-md text-center">
        <i class="lar la-user"></i>
        <h3>{{.nama | markdownify}}</h3>
        <p>{{.jabatan | markdownify}}</p>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.brands_carousel}}
{{if .enable}}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title">{{.title | markdownify}}</h2>
        </div>
      </div>
      {{with site.GetPage (string .Params.clients.section)}}
      {{with .Params.brands_carousel}}
      <div class="col-md-12" data-aos="fade-left">
        <div class="brand-carousel swiper-container border-0 mt-0">
          <div class="swiper-wrapper">
            {{range .brand_images}}
            {{ if fileExists (add `assets/` .) }}
            <div class="swiper-slide">
              <div class="brand-item">
                {{$img:= resources.Get . }}
                {{$img_width := $img.Width }}

                {{$img_orginal := add (add (string $img_width) "x") " " }}
                {{$img_src := ($img.Resize $img_orginal).RelPermalink }}

                {{$imgWebp := add (add (string $img_width) "x") " webp" }}
                {{$imgWebp_src := ($img.Resize $imgWebp).RelPermalink }}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img_width}}" height="{{$img.Height}}" src="{{$imgWebp_src}}" alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'">
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{end}}